<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Se requiere acceso a la cámara para escanear códigos QR</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Se requiere acceso a la galería para guardar los códigos QR escaneados</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Se requiere permiso para guardar los códigos QR escaneados en la galería</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Se requiere acceso al micrófono para la funcionalidad de escaneo QR</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Se requiere acceso a Face ID para la autenticación de la aplicación</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Se requiere acceso a la ubicación para mejorar la precisión del escaneo QR</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Se requiere acceso a la ubicación para mejorar la precisión del escaneo QR</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>qrbiometrico</string>
            </array>
        </dict>
    </array>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict/>
    </dict>
    <key>UIBackgroundModes</key>
    <array>
        <string>location</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UIStatusBarHidden</key>
    <false/>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
</dict>
</plist> 